@import "componentes/header";
@import "componentes/muestrario";
@import "componentes/contacto.scss";
@import "componentes/footer";
@import "componentes/mediaqueries";
@import "base/extendes";

.botonadolfo {
  background-color: $color-dos;
  padding: 9px 25px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.separador {
  padding: 70px;
  @extend %centrar;
  align-items: center;
  background-color: #abd0c4;
}

.ubi {
  padding: 30px;
  .titulo {
    h2 {
      padding-bottom: 50px;
      display: flex;
      justify-content: center;
    }
  }
}

.iframe-responsivo {
  width: 100%;
  height: 400px;
}

.nosotross {
  padding: 60px;
}
