@import "../base/variables";
@import "../base/extendes";

footer {
  background-color: $color-uno;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  img {
    width: 100px;
    display: flex;
    align-items: center;
  }
  .derecha {
    padding-right: 50px;
    padding-top: 10px;
    h3 {
      padding-bottom: 15px;
    }
    a {
      @extend %centrar;
      text-decoration: none;
    }
  }
}
