form {
  position: absolute;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 20px;
  text-align: center;
  h2 {
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid black;
    color: $color-uno;
  }
  .imput-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 20px;
  }
  label {
    color: $color-uno;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  input,
  textarea {
    padding: 17px 25px;
    border-radius: 25px;
    margin-bottom: 20px;
    background-color: #abd0c4;
    border: 2px solid rgb(190, 181, 181);
    color: black;
    outline: none;
  }
  input::placeholder,
  textarea::placeholder {
    color: #f0faf1;
  }
  .form-txt {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    a {
      color: black;
      text-decoration: none;
      font-weight: 600;
      font-size: 14px;
    }
  }
  btn {
    font-size: 16px;
    color: black;
    border: 0;
    border-radius: 25px;
    background-color: $color-dos;
  }
}
